block mission

    section.mission
        h1 Eat 
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit.

        h1 Sleep
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. 

        h1 Repeat 
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit.