block welcome
    section.welcome    
        img(src="../public/pics/pug.jpg", alt="")
        h1 Willkommen beim Wilden Unipug
        p
            a(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ") like & subscribe 